* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

.title {
    font-style: normal;
    font-size: 32px;
    font-weight: 500;
    line-height: 41px;
    color: #000000;
    margin: 128px 277px 12px 16px;
}

.information {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    margin: 0px 16px 102px 16px;
    color: rgba(0, 0, 0, 0.5);
}

.input-login {
    display: block;
    margin: auto;
    background: #F2F2F7;
    border-radius: 6px;
    border: none;
    width: 343px;
    height: 48px;
    margin-bottom: 12px;
    padding: 14px;
}


input::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #929292;
}

#login {
    margin-bottom: 17px;
}

.forgot-password {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #007AFF;
    display: block;
    text-align: right;   
    margin-right: 35px;
}

.button-login {
    width: 343px;
    height: 48px;
    background: rgba(0, 0, 0, 0.94);
    border-radius: 10px;
    display: block;
    margin: auto;
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 204px;
}

.text-singup {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.51);
    text-align: center;
}

.singup {
    color: #007AFF;
    font-weight: 600;
}